body {
    padding: 0;
    margin: 0;
    text-align: center;
}

header, footer {
    background-color: rgb(197, 247, 118);
    height: 20vh;
}

#main {
    display: flex;
}

#main aside,
#main nav {
    height: 60vh; 
    flex: 0 0 20vw;
}

#main nav {
    background-color: rgb(213, 245, 153);
}

#main aside {
    background-color: rgb(155, 184, 109);
}

#main article {
    flex: 1
}